/* css pour mobile first <576px */ 
body{
    margin:0;
    font-family: Helvetica, sans-serif;
    
}

main{
    margin: 0 10px;
}

/* ------ titre ---*/
header h1{
    text-transform:uppercase ;
    margin:8px auto;
    font-size:4em;
    font-weight:100;

}
header span{
    color:#FECA07;
    font-weight:100;
    
}

header p{
    margin:6px auto;
    color: #404040;
    font-size:1.8em;
    font-weight:500;

}

hr{
    margin-top:-5px;
    margin-left:0;
    height: 2px;
    /*width: 42px; /* pour changer la largeur du trait */
    width:6vw;
    background: #FECA07;
    border: none;
}

#header__photo {    
    text-align:center;
}

img {
    width:100px;
    height:100px;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    border-radius:150px;
    max-width:273px;    
}

#header__photo p{
    margin: 2px auto 10px auto;
}

/*   debut formation          */

section {
    display: flex;
    flex-direction: column;
}

article{
    display:flex;
    flex-direction: column;
    margin-bottom:13px;
}

.section__titre{
    display: flex;
    border-bottom: 2px solid #FECA07;
    align-items: center;        
}

.section__titre h2{
    margin: 5px auto;
    text-align:center;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;    
}

.section__titre i{
    margin-top:5px;
    padding-bottom:3px;
    color:#FECA07;
    font-size: 1.5em;    
}

.elements{
    margin:5px auto;
    font-family: Helvetica, sans-serif;
    color:#404040;
}

.element__puce__ou{
    display:flex;
    padding-bottom: 6px;
    align-items:center;
    font-weight:600;    
}

.element__ou{
    display:flex;
}

.element__ou p{
    margin:5px auto 2px 14px;
}

.element{
    margin-top:25px;      
}

.element__ou{
    display:flex;
    flex-direction: row;
    white-space:wrap;
    
}
.element__puce{
    padding-top: 4px;
}
.element__puce i{
    margin-top: 3px;
    color:#FECA07;  
     
}
.element__quoi{
    padding-top:2px;        
}
.element__quoi p{
    margin-top:8px;
    margin-bottom:8px;
}
h3{
    margin: 2px 0;
    text-transform: uppercase;    
}

.fa-circle{
    font-size:8px;
}

/*      recommandations  */


.recommandations__contenu{
    display:flex;
    justify-content: space-around;
    
}
.recommandations__nom{
    color:#404040;
}

/*             aside        */

aside{
    
    display:flex;
    flex-direction: column;
    background-color:#FECA07;
    color:#404040;
}

#sidebar__photo{
    display:none;
}

aside h2{
    margin-top:0;
    background-color:#404040;
    color:#FECA07;
    text-align: center;
    text-transform: uppercase;
}
.contact__div{
    display:flex;
    justify-content:space-around;
   
}
#sidebar__loisirs__icones{
    font-size:50px;
    text-align:center;    
}

#sidebar__loisirs__icones i{
    margin: auto 10px;

}
/*                 Responsive            */

/* css pour Medium devices >576 */
@media screen and (min-width:576px){
    .page{
        border: 2px solid green;
        margin: 0 auto; 
    }
    header{
        margin-top:20px;
        display:flex; 
        justify-content: space-around;
        align-items: center;       
    }
   
    header img{       
        width:100%;
        height:100%;

    }

   
    
}

/*  css pour  Large devices >992 */
@media screen and (min-width:934px){

    .page{
        border: 2px solid red;
        display:flex;
        flex-direction: row-reverse;
        width: 100vw;      
    }
    h2{
        font-size: 1.7em;
    }
    aside{
        width: 29vw;
        flex:none;    
    }
    aside p{
        margin: 0 45px;
    }
    #sidebar__photo{
        display: block;
        text-align:center;

    }
    #sidebar__photo img{
        width:220px;
        height:220px;
    }
    aside h2{
        margin-top: 40px;
        padding:5px 0 10px 0;
        
    }
    .contact__div{
        display:flex;
        flex-direction: column;
        line-height: 20px;
    }
    
    #sidebar__contact p{
        padding-top:7.5px;
        padding-bottom:7.5px;
    }
    #sidebar__propos__text p{
        text-align:justify;
        line-height: 20px;

    }
    aside div:last-child{
    
        margin-top:auto; /* pour mettre en bas */
        flex:none;
    }
    /*------fin sidebar--------*/
    main{
       display:flex;
       flex-direction: column; 
       padding: 30px 19px 0 54px;
    }    
    #header__photo{
        display:none;
    }

    header{
        margin-bottom:77px;
        display:flex; 
        justify-content: flex-start
               
    }
    header h1{
        font-size:4em;
    }
    header p{
        font-size:1.8em;
    }
    
    
    
    /*            fin header           */
    .section__titre{
        padding-bottom: 10px;
    }
    .section__titre i{
        font-size: 2.3em;
    }
    .section__titre h2{
        margin-left: 33px;
        padding-bottom: 5px;
    }
    article{
        margin-bottom: 51px;
    }
    .elements{
        display:flex;
        flex-direction: column;
        margin: auto 0;
    }
    
    .element{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-start;
        
    }
    .element__quoi{
        width: 65%;
        margin-left:16px;

    }
    .element__puce__ou{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-right:4px;
        width:25%;
    }
    .element__puce{
        align-self: flex-start;
    }
    .element__ou{
        display:flex;
        flex-direction:column;
        justify-content: start;
    }

    .recommandations__nom{
        width:50%;
        line-height: 6px;
    }
    
}


/* css pour Extra Large device 1140 */
@media screen and (min-width:1140px){
    .page{
        border: 2px solid blue;
        width:89vw;
        margin:30px auto 0 auto;
    }
}

@media screen and (max-width:1227px){
    header h1{
        font-size:3.5em ;
    }
}
@media screen and (max-width:789px){
    header h1{
    font-size:2.5em;
    }
}
@media screen and (max-width:628px){
    header h1{
        font-size:2em;
    }
    header p{
        font-size:1.5em;
    }
}
/* police


*/